<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Change your page title -->
        <title>This is the page title</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        
    </head>
    <body>
        <!-- Modify this section START -->

        <table>
            {% for row in ui.board %}
                <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {{ui.inputlabel}}
        <form action="/play", method="post">
        <input type="text" name="move" value="">
        <br> 
        <button type="submit" >Move</button>
        _________
        <button type="submit" >Undo</button>
        <!--
        <form action="/play", method="post">
        <input type="text" name="undo" value="" hidden>
        <button type="submit" > Undo </button>
        -->
        </form>
        

        {% if ui.errmsg is not none %}
            <tr>
            {{ui.errmsg}}
        {% endif %}
        <!-- Modify this section END -->
    </body>
</html>